{% for votec in votesr %}
    <!-- Single Trending Post -->
    <div class="single-trending-post">
        <img src="{{ asset(votec.category.imageSmall) }}" alt=""/>
        <div class="post-content">
            <a href="#" class="post-cata">{{ votec.category.name }}</a>
            <a href="{{ path('initiative_show', { 'id': votec.id, 'slug': votec.slug }) }}" class="post-title">{{ votec.title }}</a> <br>
        </div>
    </div>
{% endfor %}
