{%- if breadcrumbs.count %}
    <h1 class="page-header">
        {% for breadcrumb in breadcrumbs|slice(1,2) %}
            {% set translate = (breadcrumb.attributes.translate is not defined ? false : true) %}
            {% if loop.first %}
                {% if translate %}
                    {{ breadcrumb.title|trans }}
                {% else %}
                    {{ breadcrumb.title }}
                {% endif %}
            {% elseif loop.last  %}
                {% if translate %}
                    <small>{{ breadcrumb.title|trans }}</small>
                {% else %}
                    <small>{{ breadcrumb.title }}</small>
                {% endif %}
            {% endif %}
        {% endfor %}
    </h1>
{%- endif -%}
