<div class="single-sidebar-widget p-30">
    <!-- Social Followers Info -->
    <div class="social-followers-info">
        <!-- Facebook -->
        <a href="#" class="facebook-fans"><i class="fab fa-facebook"></i> 4,360 <span>Fans</span></a>
        <!-- Twitter -->
        <a href="#" class="twitter-followers"><i class="fab fa-twitter"></i> 3,280 <span>Followers</span></a>
        <!-- YouTube -->
        <a href="#" class="youtube-subscribers"><i class="fab fa-youtube"></i> 1250 <span>Subscribers</span></a>
        <!-- Google -->
        <a href="#" class="google-followers"><i class="fab fa-google-plus"></i> 4,230 <span>Followers</span></a>
    </div>
</div>
